@model HomeServices.Models.WorkOrderDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WorkOrderDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WordOrderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WordOrderId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeService)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeService)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PropertyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WordOrderId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
